@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-de-fundo: #FFFFFF;
    --cor-da-borda: #EAECF0;
    --cor-de-fundo-final: #c319190a;
    --cor-de-fundo-rodape: #F9FAFB;
    --cor-botao: #8E2424;
    --cor-ver-mais: #8e242416;
    --fonte-principal: "Inter", sans-serif;
    --cor-texto-principal: #101828;
    --cor-texto-secundaria: #667085;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-weight: 500;
}


.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2% 10%;
    justify-content: space-between;
}

.navbar__empresa{
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar__empresa__nome{
    font-size: 18px;
    color: #3A404E;
}

.navbar__navegacao{
    display: flex;
    gap: 40px;
}

.navbar__navegacao__link{
    text-decoration: none;
    color: var(--cor-texto-secundaria);
    font-size: 16px;
}

.navbar__invisivel{
    width: 60px;
}

.navbar__botoes{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container__botao{
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 18px;
}

.navbar__botoes__entrar{
    color: var(--cor-texto-secundaria);
    
}

.navbar__botoes__cadastrar{
    color: var(--cor-de-fundo);
    background-color: var(--cor-botao);
    
}

.cabecalho{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 5% 30%;

}

.cabecalho__sobrenos{
    color: var(--cor-botao);
    font-weight: 600;
    font-size: 16px;
}

.cabecalho__titulo{
    color: var(--cor-texto-principal);
    font-weight: 600;
    font-size: 48px;
}

.cabecalho__descricao{
    color: var(--cor-texto-secundaria);
    font-weight: 400;
    font-size: 20px;
}

.resultados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 80px;
    padding: 5% 10%;
}

.design_mobile{
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.resultados__metrica{
    display: flex;
    flex-direction: column;
    text-align: initial;
    gap: 20px;
}

.problema_especifico{
    width: 50%;
}

.resultados__metrica__numero{
    color: var(--cor-botao);
    font-weight: 600;
    font-size: 60px;
}

.resultados__metrica__area{
    color: var(--cor-texto-principal);
    font-size: 18px;
}

.resultados__metrica__descricao{
    color: var(--cor-texto-secundaria);
    font-weight: 400;
    font-size: 16px;
}

.equipe{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 5% 10%;
}

.equipe__descricao{
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.equipe__descricao__anuncio{
    font-size: 14px;
    color: var(--cor-botao);
    text-align: center;
    background-color: var(--cor-ver-mais);
    border-radius: 16px;
    width: 8%;
    margin: auto;
    padding: 5px;
    width: 10%;
}

.equipe__descricao__procura{
    font-weight: 600;
    font-size: 36px;
    color: var(--cor-texto-principal);
}

.equipe__descricao__descricao{
    font-weight: 400;
    font-size: 20px;
    color: var(--cor-texto-secundaria);
}

.vagas{
    display: flex;
    flex-direction: column;
    gap: 64px;
    text-align: initial;
    align-items: center;
}

.vagas__titulo{
    width: 50%;
    color: var(--cor-texto-principal);
    font-size: 20px;
}

.vagas__tipos{
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: initial;
    align-items: center;
}


.vagas__tipos__vaga{
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid var(--cor-da-borda);
    border-radius: 16px;
    width: 275%;
    padding: 10%;
}

.vagas__tipos__vaga__titulo{
    color: var(--cor-texto-principal);
    font-size: 18px;
}

.vagas__tipos__vaga__descricao{
    display: flex;
    gap: 20px;
}

.vagas__tipos__vaga__descricao__texto{
    font-size: 16px;
    color: var(--cor-texto-secundaria);
}

.colaboradores{
    background-color: var(--cor-de-fundo-final);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 3%;
    margin: 5% 10%;
    text-align: center;
    border-radius: 16px;
}

.colaboradores__relato{
    display: flex;
    flex-direction: column;
    gap: 27.5px;
}

.colaboradores__relato__titulo{
    color: var(--cor-botao);
    font-size: 14px;
    font-weight: 600;
}

.colaboradores__relato__texto{
    color: var(--cor-texto-principal);
    font-size: 36px;
    font-weight: 500;
}

.colaboradores__perfil{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.colaboradores__perfil__foto{
    width: 56px;
    height: 56px;
    margin: auto;
    padding-bottom: 12px;
}

.colaboradores__perfil__nome{
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-texto-principal);
}

.colaboradores__perfil__profissao{
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-texto-secundaria);
}

.rodape{
    background-color: var(--cor-de-fundo-rodape);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
    padding: 7%;
}

.rodape__titulo{
    font-weight: 600;
    font-size: 36px;
    color: var(--cor-texto-principal);
}

.rodape__descricao{
    font-weight: 400;
    font-size: 20px;
    color: var(--cor-texto-secundaria);
}

.rodape__formulario{
    display: flex;
    gap: 15px;
    width: 35%;
}

.rodape__formulario__email{
    width: 250%;
    border-radius: 8px;
    border-color: var(--cor-da-borda);
}

.rodape__formulario__email::placeholder{
    padding: 5%;
    color: var(--cor-texto-secundaria);
    font-size: 16px;
    font-weight: 400;
}

.rodape__formulario__botao{
    color: var(--cor-de-fundo);
    background-color: var(--cor-botao);
    font-size: 16px;
}

.rodape__ano{
    font: 400;
    font-size: 16px;
    color: #98A2B3;
}



@media (max-width: 1320px) {
    .cabecalho{
        width: 50%;
        margin: auto;
    }

    .resultados__metrica{
        width: 30%;
    }
    
    .equipe__descricao__anuncio{
        font-size: 14px;
        width: 15%;
    }

    .vagas__titulo{
        width: 60%;
    }
}

@media (max-width: 1056px) {
    .navbar{
        padding: 3% 4%;
    }

    .cabecalho{
        width: 50%;
        margin: auto;
    }

    .cabecalho__sobrenos{
        font-size: 14px;
    }
    
    .cabecalho__titulo{
        font-size: 40px;
    }
    
    .cabecalho__descricao{
        font-size: 18px;
    }
    
    .resultados__metrica__numero{
        font-size: 50px;
    }

    .resultados__metrica__area{
        color: var(--cor-texto-principal);
        font-size: 15px;
    }
    
    .resultados__metrica__descricao{
        color: var(--cor-texto-secundaria);
        font-weight: 400;
        font-size: 12px;
    }

    .equipe__descricao__anuncio{
        font-size: 14px;
        width: 20%;
    }
    
    .equipe__descricao__procura{
        font-size: 30px;
    }
    
    .equipe__descricao__descricao{
        font-size: 18px;
    }

    .vagas__titulo{
        width: 80%;
    }
    
}

@media (max-width: 968px) {
    .equipe__descricao__anuncio{
        font-size: 14px;
        width: 15%;
    }
    
    .rodape__formulario{
        width: 50%;
    }

    .navbar__invisivel{
        display: none;
    }
}


@media (max-width: 850px) {
    .navbar{
        padding: 2% 1%;
    }

    .cabecalho__titulo{
        font-size: 200%;
    }

    .cabecalho__descricao{
        font-size: 100%;
    }

    .design_mobile{
        gap: 30%;
    }

    .equipe__descricao__anuncio{
        font-size: 14px;
        width: 15%;
    }
    
    .rodape__formulario{
        width: 50%;
    }

    .navbar__invisivel{
        display: none;
    }

    .vagas__tipos__vaga{
        width: 225%;
    }
}

@media (max-width: 786px) {
    .navbar{
        justify-content: center;
        gap: 30px;
        margin: 0 10% 0 0;
        text-align: center;
    }
    
    .navbar__empresa__nome{
        font-size: 90%;
    }

    .navbar__empresa__logo{
        width: 23px;
    }

    .navbar__navegacao{
        gap: 30px;
    }

    .navbar__navegacao__link{
        font-size: 90%;
    }

    .navbar__botoes{
        gap: 10px;
    }

    .container__botao{
        font-size: 90%;
    }
    .cabecalho{
        gap: 30px;
        width: 60%;
        padding: 10% 0;
    }
    .cabecalho__titulo{
        font-size: 200%;
    }

    .cabecalho__descricao{
        font-size: 100%;
    }

    .resultados__metrica__numero{
        font-size: 200%;
    }

    .resultados__metrica__area{
        font-size: 80%;
    }

    .resultados__metrica__descricao{
        font-size: 60%;
    }

    .equipe__descricao__anuncio{
        font-size: 80%;
        width: 15%;
    }
}

@media (max-width: 710px) {
    .navbar__empresa__nome{
        font-size: 90%;
    }

    .navbar__empresa__logo{
        width: 23px;
    }

    .navbar__navegacao__link{
        font-size: 80%;
    }

    .container__botao{
        font-size: 80%;
    }

    .cabecalho{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }

    .cabecalho__titulo{
        font-size: 150%;
    }

    .cabecalho__descricao{
        font-size: 80%;
    }

    .equipe__descricao__anuncio{
        font-size: 70%;
        width: 15%;
    }

    .vagas{
        gap: 40px;
    }

    .vagas__tipos__vaga{
        width: 200%;
    }

    .vagas__titulo{
        font-size: 100%;
    }

    .vagas__tipos__vaga__titulo{
        font-size: 100%;
    }

    .vagas__tipos__vaga__descricao__texto{
        font-size: 90%;
    }

    .colaboradores__relato__texto{
        font-size: 125%;
    }

    .rodape__titulo{
        font-size: 200%;
    }

    .rodape__descricao{
        font-size: 100%;
    }

    .rodape__ano{
        font-size: 80%;
    }
}

@media (max-width: 676px) {
    .navbar{
        gap: 30px;
    }

    .navbar__navegacao{
        gap: 15px;
        align-items: center;
    }

    .navbar__navegacao__link{
        font-size: 80%;
    }

    .navbar__botoes{
        gap: 10px;
    }

    .resultados__metrica{
        gap: 10px;
    }    

    .cabecalho{
        gap: 20px;
    }
}

@media (max-width: 630px) {

    .navbar__navegacao__link{
        font-size: 70%;
    }

    .navbar__botoes{
        gap: 6px;
    }

    .container__botao{
        font-size: 70%;
    }
    
    .resultados{
        padding: 5%;
        gap: 30px;
    }

    .resultados__metrica{
        gap: 10px;
    }


    .equipe{
        padding: 5% 0;
    }

    .equipe__descricao__anuncio{
        width: 20%;
    }

    .equipe__descricao__descricao{
        font-size: 90%;
    }

    .equipe__imagem{
        width: 90%;
        margin: auto;
    }

    .vagas__titulo{
        width: 88%;
    }

    .colaboradores{
        padding: 3%;
        margin: 10% 5%;
    }

    .rodape__titulo{
        font-size: 130%;
    }

    .rodape__descricao{
        font-size: 80%;
    }

    .rodape__formulario{
        width: 70%;
    }

    .rodape__ano{
        font-size: 60%;
    }
}

@media (max-width: 544px) {
    

    .navbar{
        padding: 3%;
        gap: 1px;
    }

    .navbar__empresa{
        gap: 1px;
    }

    .navbar__empresa__nome{
        font-size: 12px;
    }

    .navbar__empresa__logo{
        width: 16px;
    }

    .navbar__botoes{
        gap: 1px;
    }
    .navbar__navegacao__link{
        padding: 1%;
    }

    .cabecalho{
        gap: 10px;
    }

    .cabecalho__sobrenos{
        font-size: 10px;
    }

    .design_mobile{
        margin: 0 0 0 10%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .resultados__metrica{
        gap: 5px;
    }

    .equipe__imagem{
        width: 90%;
        margin: auto;
    }

    .vagas__tipos__vaga{
        width: 165%;
    }
}

@media (max-width: 518px) {
    .ocultar_mobile{
        display: none;
    }

    .navbar__botoes__cadastrar{
        padding: 10%;
        font-size: 10px;
    }

    .navbar__botoes__entrar{
        padding: 10%;
        font-size: 10px;
    }

    .navbar__botoes{
        margin-right: 10%;
        gap: 10px;
    }

    .navbar__navegacao__link{
        font-size: 10px;
    }

    .design_mobile{
        margin: 0 0 0 10%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .resultados{
        gap: 10px;
    }

    .resultados__metrica{
        gap: 5px;
    }

    .equipe{
        gap: 22px;
    }

    .equipe__descricao{
        gap: 20px;
    }

    .equipe__descricao__procura{
        font-size: 24px;
    }

    .equipe__descricao__descricao{
        font-size: 12px;
    }

    .vagas__tipos__vaga{
        width: 130%;
    }

    .rodape__formulario{
        width: 80%;
    }
}

@media (max-width: 460px) {
    .navbar__botoes__cadastrar{
        padding: 10%;
        font-size: 10px;
    }

    .navbar__botoes__entrar{
        padding: 10%;
        font-size: 10px;
    }

    .navbar__botoes{
        margin-right: 10%;
        gap: 10px;
    }

    .navbar__navegacao__link{
        font-size: 10px;
    }

    .design_mobile{
        margin: 0 0 0 10%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .resultados{
        gap: 1px;
    }

    .resultados__metrica{
        gap: 5px;
        text-align: center;
        align-items: center;
    }

    .equipe{
        gap: 22px;
    }

    .equipe__descricao{
        gap: 20px;
    }

    .equipe__descricao__procura{
        font-size: 24px;
    }

    .equipe__descricao__descricao{
        font-size: 12px;
    }

    .vagas__tipos__vaga{
        width: 130%;
    }

    .rodape__formulario{
        width: 80%;
    }
}

@media (max-width: 428px) {
    .resultados{
        gap: 10px;
    }

    .resultados__metrica{
        gap: 5px;
    }

    .navbar__empresa__nome{
        display: none;
    }

    .equipe__descricao__anuncio{
        font-size: 14px;
        width: 30%;
    }

    .equipe__descricao__procura{
        font-size: 18px;
    }

    .equipe__descricao__descricao{
        font-size: 14px;
    }

}



@media (max-width: 320px) {
    .navbar{
        gap: 10px;
        margin: 0;
        text-align: center;
    }

    .navbar__empresa__nome{
        display: none;
    }

    .navbar__navegacao{
        gap: 10px;
    }

    .navbar__navegacao__link{
        font-size: 10px;
    }

    .navbar__botoes{
        gap: 3px;
    }

    .navbar__invisivel{
        display: block;
    }

    .cabecalho{
        margin: 0 0 0 2%;
        width: 90%;
    }

    .resultados{
        display: flex;
        flex-direction: column;
    }

    .design_mobile{
        margin: 0 0 0 10%;
    }

    .equipe__descricao{
        gap: 15px;
    }

    .equipe__descricao__anuncio{
        font-size: 10px;
        width: 30%;
    }

    .equipe__descricao__procura{
        font-size: 16px;
    }

    .equipe__descricao__descricao{
        font-size: 10px;
    }

    .equipe__imagem{
        width: 90%;
    }

    .vagas{
        gap: 20px;
        margin: 0 0 0 2%;
    }

    .vagas__tipos{
        gap: 10px;
    }

    .vagas__tipos__vaga{
        width: 140%;
        margin: 0 10%;
    }

    .vagas__titulo{
        width: 90%;
        font-size: 14px;
    }

    .vagas__tipos__vaga{
        gap: 10px;
    }

    .vagas__tipos__vaga__titulo{
        font-size: 12px;
    }

    .vagas__tipos__vaga__descricao__texto{
        font-size: 10px;
    }

    .colaboradores{
        width: 90%;
        margin: 10% 0 0 2%;
    }

    .colaboradores__relato__titulo{
        font-size: 12px;
    }

    .colaboradores__relato__texto{
        font-size: 16px;
    }

    .rodape{
        width: 100%;
        margin: 10% 0 0 0;
    }

    .rodape__titulo{
        margin: 0 15% 0 0;
    }

    .rodape__descricao{
        margin: 0 15% 0 0;
    }

    .rodape__formulario{
        width: 90%;
        gap: 10px;
        margin: 0 15% 0 0;
    }

    .rodape__ano{
        margin: 0 15% 0 0;
    }
}
