@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-de-fundo: #FFFFFF;
    --cor-da-borda: #EAECF0;
    --cor-de-fundo-final: #c319190a;
    --cor-de-fundo-rodape: #F9FAFB;
    --cor-botao: #8E2424;
    --cor-ver-mais: #8e242416;
    --fonte-principal: "Inter", sans-serif;
    --cor-texto-principal: #101828;
    --cor-texto-secundaria: #667085;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-weight: 500;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2% 10%;
    justify-content: space-between;
}

.navbar__empresa{
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar__empresa__nome{
    font-size: 18px;
    color: #3A404E;
}

.navbar__navegacao{
    display: flex;
    gap: 40px;
}

.navbar__navegacao__link{
    text-decoration: none;
    color: var(--cor-texto-secundaria);
    font-size: 16px;
}

.navbar__invisivel{
    width: 60px;
}

.navbar__botoes{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container__botao{
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 18px;
}

.navbar__botoes__entrar{
    color: var(--cor-texto-secundaria);
    font-size: 16px;
}

.navbar__botoes__cadastrar{
    color: var(--cor-de-fundo);
    background-color: var(--cor-botao);
    font-size: 16px;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 5% 30%;
}

.cabecalho__sobrenos{
    color: var(--cor-botao);
    font-weight: 600;
    font-size: 16px;
}

.cabecalho__titulo{
    color: var(--cor-texto-principal);
    font-weight: 600;
    font-size: 48px;
}

.cabecalho__descricao{
    color: var(--cor-texto-secundaria);
    font-weight: 400;
    font-size: 20px;
}

.resultados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 40px;
    padding: 5% 10%;
}

.resultados__metrica{
    display: flex;
    flex-direction: column;
    text-align: initial;
    gap: 20px;
}

.resultados__metrica__numero{
    color: var(--cor-botao);
    font-weight: 600;
    font-size: 60px;
}

.resultados__metrica__area{
    color: var(--cor-texto-principal);
    font-size: 18px;
}

.resultados__metrica__descricao{
    color: var(--cor-texto-secundaria);
    font-weight: 400;
    font-size: 16px;
}

.equipe{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 5% 10%;
}

.equipe__descricao{
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.equipe__descricao__anuncio{
    font-size: 14px;
    color: var(--cor-botao);
    text-align: center;
    background-color: var(--cor-ver-mais);
    border-radius: 16px;
    width: 8%;
    margin: auto;
    padding: 5px;
}

.equipe__descricao__procura{
    font-weight: 600;
    font-size: 36px;
    color: var(--cor-texto-principal);
}

.equipe__descricao__descricao{
    font-weight: 400;
    font-size: 20px;
    color: var(--cor-texto-secundaria);
}

.vagas{
    display: flex;
    flex-direction: column;
    gap: 64px;
    text-align: initial;
    align-items: center;
}

.vagas__titulo{
    width: 42%;
    color: var(--cor-texto-principal);
    font-size: 20px;
}

.vagas__tipos{
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: initial;
    align-items: center;
}


.vagas__tipos__vaga{
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid var(--cor-da-borda);
    border-radius: 16px;
    width: 275%;
    padding: 10%;
}

.vagas__tipos__vaga__titulo{
    color: var(--cor-texto-principal);
    font-size: 18px;
}

.vagas__tipos__vaga__descricao{
    display: flex;
    gap: 20px;
}

.vagas__tipos__vaga__descricao__texto{
    font-size: 16px;
    color: var(--cor-texto-secundaria);
}

.colaboradores{
    background-color: var(--cor-de-fundo-final);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 3%;
    margin: 5% 10%;
    text-align: center;
    border-radius: 16px;
}

.colaboradores__relato{
    display: flex;
    flex-direction: column;
    gap: 27.5px;
}

.colaboradores__relato__titulo{
    color: var(--cor-botao);
    font-size: 14px;
    font-weight: 600;
}

.colaboradores__relato__texto{
    color: var(--cor-texto-principal);
    font-size: 36px;
    font-weight: 500;
}

.colaboradores__perfil{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.colaboradores__perfil__foto{
    width: 56px;
    height: 56px;
    margin: auto;
    padding-bottom: 12px;
}

.colaboradores__perfil__nome{
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-texto-principal);
}

.colaboradores__perfil__profissao{
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-texto-secundaria);
}

@media (max-width: 1054px) {
    .navbar{
        padding: 2% 5%;
    }
}